name: CI

on:
  pull_request:
    branches: 
      - '**'

jobs:

  micro_ros_idf:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        idf_target: [ esp32, esp32s2 ]
        idf_version: [ "espressif/idf:release-v4.1", "espressif/idf:release-v4.2" ]
        include:
          - docker_image: ubuntu:bionic
            ros_distribution: dashing

          - docker_image: ubuntu:bionic
            ros_distribution: eloquent

          - docker_image: ubuntu:focal
            ros_distribution: foxy

          - docker_image: ubuntu:focal
            ros_distribution: rolling
    container:
      image: ${{ matrix.idf_version }}

    steps:
      - uses: actions/checkout@v2
        with:
          path: micro_ros_espidf_component

      - name: Dependencies
        run: |
          apt update
          apt install lsb-release git
          export DEBIAN_FRONTEND=noninteractive
          sh -c 'echo "deb [arch=amd64,arm64] http://repo.ros2.org/ubuntu/main `lsb_release -cs` main" > /etc/apt/sources.list.d/ros2-latest.list'
          curl -s https://raw.githubusercontent.com/ros/rosdistro/master/ros.asc | apt-key add -
          apt update
          apt install -y python3-colcon-common-extensions python3-pip
          . $IDF_PATH/export.sh
          pip3 install catkin_pkg lark-parser empy

      - name: Build
        run: |
          . $IDF_PATH/export.sh
          cd micro_ros_espidf_component/examples/int32_publisher
          idf.py set-target ${{ matrix.idf_target }}
          idf.py build
          (test -f micro_ros_espidf_component/examples/int32_publisher/build/int32_publisher.bin) && true || false